.auth, .login, .register {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#000, #131313);
    color: #fff;
}

.title {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 600;
}

.auth :global(.btn) {
    margin: 3px 0;
    width: 250px;
}

.center {
    animation: down-up 0.4s;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.auth_info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.auth_info svg {
    margin-right: 8px;
}

.auth_info span b {
    font-weight: 600;
    padding: 1px 5px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

input {
    margin: 2px 0;
}

.login svg, .register svg {
    transform: rotate(90deg);
    margin: 20px 0 0 20px;
}

.login :global(.btn), .register :global(.btn) {
    width: 250px;
    margin: 5px 0;
}

@keyframes down-up {
    from {
        opacity: 0;
        top: 52%;
    }

    to {
        opacity: 1;
        top: 50%;
    }
}